<html>
<head>
<style>
	body {
		font-family: "Segoe UI", sans-serif;
		font-size: 9pt;
	}
	td{
		font-weight: normal;
		font-size: 9pt;
		height: 25px;
		vertical-align: top;
	}
	.first {
		width: 120px;
	}
	.second {
		width: 30px;
	}
	.b {
		font-weight: bold;
	}
	.border {
		border: 1px solid gray;
	}
	.header{
		padding: 5px;
		background-color: rgb(236, 240, 245);
		border-bottom: 1px solid gray;
	}
	.body {
		padding: 10px;
	}
</style>
</head>
<body>
	<div class="border">
		<div class="b header">{Request-Title}</div>
		<div class="body">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td class="first">Request For</td>
					<td class="second">:<td>
					<td>{Request-Type}</td>
				</tr>
				<tr>
					<td class="first">Request By</td>
					<td class="second">:<td>
					<td>{Request-By}</td>
				</tr>
				<tr>
					<td class="first">Request Date</td>
					<td class="second">:<td>
					<td>{Request-Date}</td>
				</tr>
				<tr>
					<td class="first">Detail</td>
					<td class="second">:<td>
					<td><p>Dear {Relief},</p>
<p>{Requester-Name} would like to request for relief when he is on {Kind-of-Leave} leave with {Number-Days} days from {Start-Date} to {End-Date}.</p>
<p>{Reason}</p>
<p>{Attachment}<p>

<p>For kindly acknowledge and submit to direct supervisor.</p>

<p>Best regards</p>
<p>{System-Name}</p>
</td>
				</tr>
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
				<tr>
					<td class="first">Relif By</td>
					<td class="second">:<td>
					<td>{Relif}</td>
				</tr>
				<tr>
					<td class="first">Confirmed Date</td>
					<td class="second">:<td>
					<td>{Confirmed-Date}</td>
				</tr>
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
				<tr>
					<td class="first">Recommend By</td>
					<td class="second">:<td>
					<td>{Recommender}</td>
				</tr>
				<tr>
					<td class="first">Recommend Date</td>
					<td class="second">:<td>
					<td>{Recommend-Date}</td>
				</tr>
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
				<tr>
					<td class="first">Authorizer By</td>
					<td class="second">:<td>
					<td>{Authorizer}</td>
				</tr>
				<tr>
					<td class="first">Authorizer Date</td>
					<td class="second">:<td>
					<td>{Authorizer-Date}</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>